/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Ibarra Real Nova',"Arial", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

section:nth-child(even) {
  padding-left: 120px;
}

main {
  background-color: #fafafa;

}